---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <div class="container">
    <h1 class="visually-hidden">Strona główna Web Web Club</h1>
    <h2 class="visually-hidden">Ostatnio opublikowane</h2>

    <ul class="posts-list">
      {
        posts.map((post) => (
          <li>
            <div class="post-card">
              <div class="post-card__date">
                <FormattedDate date={post.data.pubDate} />
              </div>

              <h3 class="post-card__title">
                <a class="post-card__link" href={`/blog/${post.slug}/`}>
                  {post.data.title}
                </a>
              </h3>

              {post.data?.tags ? (
                <ul class="post-card__tags">
                  {post.data.tags.map((tag) => (
                    <li>
                      <span class="tag">{tag}</span>
                    </li>
                  ))}
                </ul>
              ) : null}
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style lang="scss">
  .posts-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (min-width: 768px) {
      gap: 4rem;
    }
  }

  .post-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__date {
      font-size: 0.875rem;
    }

    &__link {
      color: inherit;
      text-decoration: none;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;

      &:hover {
        // text-decoration: underline;
        background-image: linear-gradient(var(--brand), var(--brand));
      }
    }

    &__title {
      margin-bottom: 0;
      font-size: 1.5rem;
      line-height: 1.2;

      @media (min-width: 768px) {
        font-size: 3rem;
        line-height: 1.1;
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: 0.5rem 0 0;
    }

    .tag {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      font-weight: 600;
      background: var(--brand);

      @media (min-width: 768px) {
        font-size: 1rem;
      }
    }
  }
</style>
