---
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      .layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        main {
          padding: 2rem 0 2.5rem;
          flex-grow: 1;

          @media (min-width: 768px) {
            padding: 3rem 0 6rem;
          }
        }
      }
    </style>
  </head>

  <body>
    <div class="layout">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
