---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={["nav-link", { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 200px;
    background: var(--neutral-light);

    &:hover,
    &.active {
      background: var(--brand);
    }
  }
</style>
