---
import HeaderLink from "./HeaderLink.astro";
---

<header class="header">
  <div class="container container--wide">
    <div class="header__inner">
      <div class="header__logo">
        <a href="/" aria-label="Strona główna Web Web Club">🕸️</a>
      </div>

      <nav class="nav">
        <ul class="nav__list">
          <li>
            <HeaderLink href="/o-mnie">O mnie</HeaderLink>
          </li>
          <li>
            <HeaderLink href="/kontakt"> Kontakt</HeaderLink>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    padding: 1rem 0;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      position: relative;
      display: block;
      font-size: 3rem;
      line-height: 1;

      @media (min-width: 768px) {
        font-size: 4rem;
      }

      a {
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  .nav {
    &__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      font-weight: 600;
      white-space: nowrap;

      @media (min-width: 768px) {
        gap: 1.5rem;
      }
    }
  }
</style>
