---
import HeaderLink from "./HeaderLink.astro";
---

<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="/" aria-label="Strona główna Web Web Club">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 165 52"
          ><path
            d="M.707 10.4h9.647l1.729 20.64h.335l2.497-20.64h7.392l2.495 20.64h.384l1.68-20.64h9.648v1.344L31.378 44H20.242L18.85 28.496h-.431L16.979 44H5.843L.707 11.744V10.4Zm55.437 0v8.304H47.6v5.04a26.095 26.095 0 0 1 2.592-.72c.896-.192 1.76-.32 2.592-.384a11.83 11.83 0 0 1 2.4.048v8.064l-.528.288a9.48 9.48 0 0 0-2.064-.384 11.693 11.693 0 0 0-2.352.048c-.832.096-1.712.288-2.64.576v4.416h8.544V44H38.48V10.4h17.664ZM59.011 44V10.4h13.776c2.528 0 4.544.72 6.048 2.16 1.505 1.408 2.257 3.248 2.257 5.52 0 1.376-.257 2.544-.769 3.504-.48.96-1.087 1.728-1.823 2.304-.704.576-1.424.992-2.16 1.248v.384c.831.224 1.712.72 2.64 1.488.96.768 1.76 1.776 2.4 3.024.672 1.248 1.008 2.72 1.008 4.416 0 2.016-.416 3.744-1.249 5.184-.8 1.408-1.951 2.496-3.456 3.264-1.472.736-3.216 1.104-5.232 1.104h-13.44Zm9.12-8.256h2.112c.64 0 1.217-.24 1.729-.72.544-.48.816-1.104.816-1.872 0-.864-.24-1.504-.72-1.92-.448-.448-1.04-.672-1.776-.672h-2.16v5.184Zm0-12.24h1.825c.64 0 1.183-.256 1.632-.768.448-.512.672-1.168.672-1.968s-.225-1.424-.672-1.872a2.222 2.222 0 0 0-1.632-.672H68.13v5.28ZM82.645 10.4h9.648l1.728 20.64h.336l2.496-20.64h7.392l2.496 20.64h.384l1.68-20.64h9.648v1.344L113.316 44H102.18l-1.392-15.504h-.432L98.916 44H87.78l-5.136-32.256V10.4Zm55.438 0v8.304h-8.544v5.04a26.095 26.095 0 0 1 2.592-.72c.896-.192 1.76-.32 2.592-.384a11.83 11.83 0 0 1 2.4.048v8.064l-.528.288a9.48 9.48 0 0 0-2.064-.384 11.693 11.693 0 0 0-2.352.048c-.832.096-1.712.288-2.64.576v4.416h8.544V44h-17.664V10.4h17.664Zm2.867 33.6V10.4h13.776c2.528 0 4.544.72 6.048 2.16 1.504 1.408 2.256 3.248 2.256 5.52 0 1.376-.256 2.544-.768 3.504-.48.96-1.088 1.728-1.824 2.304-.704.576-1.424.992-2.16 1.248v.384c.832.224 1.712.72 2.64 1.488.96.768 1.76 1.776 2.4 3.024.672 1.248 1.008 2.72 1.008 4.416 0 2.016-.416 3.744-1.248 5.184-.8 1.408-1.952 2.496-3.456 3.264-1.472.736-3.216 1.104-5.232 1.104h-13.44Zm9.12-8.256h2.112c.64 0 1.216-.24 1.728-.72.544-.48.816-1.104.816-1.872 0-.864-.24-1.504-.72-1.92-.448-.448-1.04-.672-1.776-.672h-2.16v5.184Zm0-12.24h1.824c.64 0 1.184-.256 1.632-.768.448-.512.672-1.168.672-1.968s-.224-1.424-.672-1.872a2.222 2.222 0 0 0-1.632-.672h-1.824v5.28Z"
            fill="#003B36"></path></svg
        >
      </a>
    </div>

    <nav class="nav">
      <ul class="nav__list">
        <!-- <li>
          <HeaderLink href="/">Strona główna</HeaderLink>
        </li> -->
        <li>
          <HeaderLink href="/o-mnie">O mnie</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/kontakt"> Kontakt</HeaderLink>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .header {
    padding: 0 1rem;
    margin-bottom: 2rem;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1016px;
      margin: 0 auto;
    }

    &__logo {
      position: relative;
      display: block;
      width: 15rem;
      padding: 2rem 0;

      svg {
        width: 100%;
        position: relative;
        z-index: 1;
      }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   width: 384px;
      //   height: 384px;
      //   border-radius: 50%;
      //   background: #ceff1a;
      // }
    }
  }

  .nav {
    &__list {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;

        list-style-type: none;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.01rem;
        white-space: nowrap;
      }
    }
  }
</style>
